@charset "utf-8";
.level-bgpng {
    background: url(../images/level-csssprite.png?20180625) no-repeat;
}
.level-size1,.level-size2{width:40px;height:17px}
.user-level.level-bgpng{
	position: absolute;
}
.level-1{
background-position:0 -0}
.level-2{
background-position:0 -19px}
.level-3{
background-position:0 -38px}
.level-4{
background-position:0 -57px}
.level-5{
background-position:0 -76px}
.level-6{
background-position:0-95px}
.level-7{
background-position:0-114px}
.level-8{
background-position:0-133px}
.level-9{
background-position:0-152px}
.level-10{
background-position:0-171px}
.level-11{
background-position:0-190px}
.level-12{
background-position:0-209px}
.level-13{
background-position:0-228px}
.level-14{
background-position:0-247px}
.level-15{
background-position:0-266px}
.level-16{
background-position:0-285px}
.level-17{
background-position:0-304px}
.level-18{
background-position:0-323px}
.level-19{
background-position:0-342px}
.level-20{
background-position:0-361px}
.level-21{
background-position:0-380px}
.level-22{
background-position:0-399px}
.level-23{
background-position:0-418px}
.level-24{
background-position:0-437px}
.level-25{
background-position:0-456px}
.level-26{
background-position:0-475px}
.level-27{
background-position:0-494px}
.level-28{
background-position:0-513px}
.level-29{
background-position:0-532px}
.level-30{
background-position:0-551px}
.level-31{
background-position:0-570px}
.level-32{
background-position:0-589px}
.level-33{
background-position:0-608px}
.level-34{
background-position:0-627px}
.level-35{
background-position:0-646px}
.level-36{
background-position:0-665px}
.level-37{
background-position:0-684px}
.level-38{
background-position:0-703px}
.level-39{
background-position:0-722px}
.level-40{
background-position:0-741px}
.level-41{
background-position:0-760px}
.level-42{
background-position:0-779px}
.level-43{
background-position:0-798px}
.level-44{
background-position:0-817px}
.level-45{
background-position:0-836px}
.level-46{
background-position:0-855px}
.level-47{
background-position:0-874px}
.level-48{
background-position:0-893px}
.level-49{
background-position:0-912px}
.level-50{
background-position:0-931px}
.level-51{
background-position:0-950px}
.level-52{
background-position:0-969px}
.level-53{
background-position:0-988px}
.level-54{
background-position:0-1007px}
.level-55{
background-position:0-1026px}
.level-56{
background-position:0-1045px}
.level-57{
background-position:0-1064px}
.level-58{
background-position:0-1083px}
.level-59{
background-position:0-1102px}
.level-60{
background-position:0-1121px}
.level-61{
background-position:0-1140px}
.level-62{
background-position:0-1159px}
.level-63{
background-position:0-1178px}
.level-64{
background-position:0-1197px}
.level-65{
background-position:0-1216px}
.level-66{
background-position:0-1235px}
.level-67{
background-position:0-1254px}
.level-68{
background-position:0-1273px}
.level-69{
background-position:0-1292px}
.level-70{background:url(../images/LV70.gif?20180615)no-repeat}
.level-71{background:url(../images/LV71.gif?20180615)no-repeat}
.level-72{background:url(../images/LV72.gif?20180615)no-repeat}
.level-73{background:url(../images/LV73.gif?20180615)no-repeat}
.level-74{background:url(../images/LV74.gif?20180615)no-repeat}
.level-75{background:url(../images/LV75.gif?20180615)no-repeat}
.level-76{background:url(../images/LV76.gif?20180615)no-repeat}
.level-77{background:url(../images/LV77.gif?20180615)no-repeat}
.level-78{background:url(../images/LV78.gif?20180615)no-repeat}
.level-79{background:url(../images/LV79.gif?20180615)no-repeat}
.level-80{background:url(../images/LV80.gif?20180615)no-repeat}
.level-81{background:url(../images/LV81.gif?20180615)no-repeat}
.level-82{background:url(../images/LV82.gif?20180615)no-repeat}
.level-83{background:url(../images/LV83.gif?20180615)no-repeat}
.level-84{background:url(../images/LV84.gif?20180615)no-repeat}
.level-85{background:url(../images/LV85.gif?20180615)no-repeat}
.level-86{background:url(../images/LV86.gif?20180615)no-repeat}
.level-87{background:url(../images/LV87.gif?20180615)no-repeat}
.level-88{background:url(../images/LV88.gif?20180615)no-repeat}
.level-89{background:url(../images/LV89.gif?20180615)no-repeat}
.level-90{background:url(../images/LV90.gif?20180615)no-repeat}
.level-91{background:url(../images/LV91.gif?20180615)no-repeat}
.level-92{background:url(../images/LV92.gif?20180615)no-repeat}
.level-93{background:url(../images/LV93.gif?20180615)no-repeat}
.level-94{background:url(../images/LV94.gif?20180615)no-repeat}
.level-95{background:url(../images/LV95.gif?20180615)no-repeat}
.level-96{background:url(../images/LV96.gif?20180615)no-repeat}
.level-97{background:url(../images/LV97.gif?20180615)no-repeat}
.level-98{background:url(../images/LV98.gif?20180615)no-repeat}
.level-99{background:url(../images/LV99.gif?20180615)no-repeat}
.level-100{background:url(../images/LV100.gif?20180615)no-repeat}
.level-101{background:url(../images/LV101.gif?20180615)no-repeat}
.level-102{background:url(../images/LV102.gif?20180615)no-repeat}
.level-103{background:url(../images/LV103.gif?20180615)no-repeat}
.level-104{background:url(../images/LV104.gif?20180615)no-repeat}
.level-105{background:url(../images/LV105.gif?20180615)no-repeat}
.level-106{background:url(../images/LV106.gif?20180615)no-repeat}
.level-107{background:url(../images/LV107.gif?20180615)no-repeat}
.level-108{background:url(../images/LV108.gif?20180615)no-repeat}
.level-109{background:url(../images/LV109.gif?20180615)no-repeat}
.level-110{background:url(../images/LV110.gif?20180615)no-repeat}
.level-111{background:url(../images/LV111.gif?20180615)no-repeat}
.level-112{background:url(../images/LV112.gif?20180615)no-repeat}
.level-113{background:url(../images/LV113.gif?20180615)no-repeat}
.level-114{background:url(../images/LV114.gif?20180615)no-repeat}
.level-115{background:url(../images/LV115.gif?20180615)no-repeat}
.level-116{background:url(../images/LV116.gif?20180615)no-repeat}
.level-117{background:url(../images/LV117.gif?20180615)no-repeat}
.level-118{background:url(../images/LV118.gif?20180615)no-repeat}
.level-119{background:url(../images/LV119.gif?20180615)no-repeat}
.level-120{background:url(../images/LV120.gif?20180615)no-repeat}